name: Java CI with Maven

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

jobs:
  build:
    # Wir benutzen eine "OS-Matrix" um das Projekt auf verschieden Betriebsystemen zu testen. Innerhalb der Matrix speichern wie alle Betriebsysteme die zu testen sind
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        # Testet die am meist verbreitesten Betriebsysteme
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # WICHTIG (Linux): Install Xvfb (Virtual Framebuffer)
    # Erlaubt Raylib ein Displayfenster in einer headless CI Umgebung zu öffnen ohne das es abstürtzt
    - name: Install Xvfb (Linux only)
      if: runner.os == 'Linux'
      run: sudo apt-get install -y xvfb libxcursor-dev libxinerama-dev libxrandr-dev libxi-dev

    - name: Build and Test
      # Wenn das Projekt auf einem Linux Rechner läuft benutze xvfb-run ansonsten standard maven
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          xvfb-run --auto-servernum mvn -B test
        else
          mvn -B test
        fi
      shell: bash
